#tshirt {
   height: 100vh;
   position: relative;
}

#tshirt > div {
  position: absolute;
}

@media only screen and (max-width: 1024px) {
  #tshirt > div {
    width: 80%;
    right: 5%;
    bottom: 3rem;
  }
}

@media only screen and (min-width: 1024px) {
  #tshirt > div {
    width: 40%;
    right: 15%;
    bottom: 2rem;
  }
}