header {
  width: 100%;
  background-color: #FCF4E7;
}

header.fixed {
  position: fixed;
  z-index: 2;
}

header h1 {
  position: absolute;
  top: calc(50% - (30px / 2));
  left: 0;
  width: 197px;
  height: 30px;
}

header h1 a {
  text-indent: -1000em;
  display: inline-block;
  width: 197px;
  height: 30px;
}

header a {
  color: #272727;
}

header nav {
  margin: 0 auto;
}

header nav a.selected {
  font-weight: 700;
}

@media only screen and (max-width: 1024px) {
  header {
    background-image: url(images/logo_header.png);
    background-position: 1rem 50%;
    background-repeat: no-repeat;
    height: 6rem;
  }

  header nav {
    padding-top: 4.3rem;
    margin-left: 4%;
    text-align: left;
  }

  header nav a {
    margin: 0 .5em;
  }

  header nav a:first-child {
    margin-left: 0;
  }

  header h1 {
    left: 5%;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    height: 5rem;
  }

  header nav {
    text-align: right;
    width: 70%;
    height: 100%;
    background: url(images/logo_header.png) no-repeat 0 50%;
  }

  header nav a {
    display: inline-block;
    width: 5em;
    text-align: center;
    padding: .5em;
    margin: 1.2rem .5em 0 .5em;
  }

  header h1 {
    left: 15%;
  }
}
