#homepage {
  background-color: #FCF4E7;
}

#home_degrade {
  margin: 0 auto;
  position: relative;
}

#home_degrade a {
  color: #272727;
}

#home_degrade > div:after {
  background-color: black;
  width: 1px;
  height: 6rem;
  content: '';
  position: absolute;
  bottom: -3rem;
  left: 50%;
}

@media only screen and (max-width: 1024px) {
  #home_degrade a {
    position: relative;
    top: 18rem;
  }
}

@media only screen and (min-width: 1024px) {
  #home_degrade {
    position: relative;
    height: calc(100vh - 5rem);
  }

  #home_degrade a {
    position: relative;
    bottom: calc(100vh - 13rem);
    z-index: 2;
  }

  #home_degrade > div {
    position: absolute;
    width: 36%;
    bottom: 3rem;
    left: 32%;
  }
}
