#presentation {
  font-size: 1.25rem; /* 20px; */
  text-align: left;
  line-height: 1.87rem; /* 30px; */
  font-weight: 300;
}

#presentation strong {
  font-size: 2.31rem; /* 37px; */
  background-color: #fff;
  padding: .2em .5em;
  display: inline-block;
  font-weight: 700;
  margin-bottom: .5em;
}

#presentation > span,
#presentation > span > span {
  display: block;
}

@media only screen and (max-width: 1024px) {
  #presentation {
    padding: 5rem 0 5rem 5%;
  }
}

@media only screen and (min-width: 1024px) {
  #presentation {
    position: absolute;
    top: 45%;
    left: calc(50% + 8em);
    z-index: 2;
  }
}
