#services {
  height: calc(100vh - 13rem);
  background-color: #FAF9F5;
}

#services > div {
  width: 70%;
  margin: 0 auto;
  text-align: left;
  padding-top: 5em;
  line-height: 1.87rem; /* 30px; */
  font-weight: 300;
}

#services h3 {
  font-weight: 700;
}

#services ul {
  display: inline-block;
  width: 50%;
}

#services ul li {
  display: inline-block;
  width: 15em;
}

#services address {
  font-style: normal;
  display: inline-block;
  width: 50%;
}

#services address,
#services address a {
  color: #d8664e;
}

#services address a {
  font-weight: 700;
}

#services address a[href^="tel:"] {
  font-weight: 300;
}

#services address span {
  display: block;
}
