#services {
  background-color: #FAF9F5;
}

#services > div {
  text-align: left;
  line-height: 1.87rem; /* 30px; */
  font-weight: 300;
  margin: 0 auto;
}

#services h3 {
  font-weight: 700;
}

#services ul {
  list-style: none;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}

#services ul li {
  width: 15em;
}

#services address {
  font-style: normal;
}

#services address,
#services address a {
  color: #d8664e;
}

#services address a {
  font-weight: 700;
}

#services address a[href^="tel:"] {
  font-weight: 300;
}

#services address span {
  display: block;
}

@media only screen and (max-width: 1024px) {
  #services > div {
    width: 90%;
    padding-top: 3rem;
  }

  #services address {
    margin-top: 3rem;
  }
}

@media only screen and (min-width: 1024px) {
  #services {
    height: calc(100vh - 13rem);
    position: relative;
  }

  #services > div {
    width: 70%;
    padding-top: 5rem;
  }

  #services ul {
    width: 50%;
    display: inline-block;
  }

  #services address {
    width: 50%;
    display: inline-block;
  }
}