#thumbs {
  background: #FCF4E7;
  padding: 2.2rem 0;
}

#thumbs > div {
  max-width: 1280px;
  margin: 0 auto;
}

#thumbs > div > div {
  margin: 0 auto;
}

#thumbs a {
  width: 302px;
  display: inline-block;
  margin: 0 1rem 3rem 1rem;
  color: #272727;
}

#thumbs a:hover {
  text-decoration: none;
}

#thumbs a:hover span {
  color: #d8664e;
}

#thumbs a span {
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}

#thumbs figure div :first-child {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: .7em;
  opacity: 0;
  transition: opacity 500ms ease-out;
}

#thumbs a:hover figure div :first-child {
  opacity: 1;
}

#thumbs figcaption {
  margin-top: 1em;
}

@media only screen and (max-width: 1024px) {
  #thumbs a:first-child {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1024px) {
  #thumbs a:first-child {
    margin-top: 4.3%;
  }

  #thumbs a:nth-child(3) {
    margin-top: 8.6%;
  }
}
