#tshirt {
   position: relative;
}

@media only screen and (max-width: 1024px) {
  #tshirt {
    height: 100vh;
  }

  #tshirt:after {
    content: '';
    position: absolute;
    top: calc(50% - 190px);
    left: calc(50% - 135px);
    background: url(images/tshirt_mobile.svg) no-repeat 0 0;
    width: 270px;
    height: 385px;
  }
}

@media only screen and (min-width: 1024px) {
  #tshirt {
    height: 100vh;
    position: relative;
  }

  #tshirt:after {
    content: '';
    position: absolute;
    top: calc(50% - 160px);
    background: url(images/tshirt.svg) no-repeat 0 0;
    width: 440px;
    height: 320px;
  }
}