#works {
  background: #FCF4E7;
  padding: 2.2em 0;
  z-index: 1;
}

#works > div {
  width: 70%;
  max-width: 1280px;
  margin: 0 auto;
}

#works a {
  width: 280px;
  margin: 50px 0;
}

#works a:hover span {
  color: #d8664e;
}

#works a span {
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}

#works figcaption {
  margin-top: 1em;
}
